<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-Business-dataset" data-toc-modified-id="Read-Business-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read Business dataset</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-some-businesses-with-only-1-category,-some-with-37" data-toc-modified-id="There-are-some-businesses-with-only-1-category,-some-with-37-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>There are some businesses with only 1 category, some with 37</a></span></li><li><span><a href="#Keep-only-businesses-with-Restaurants-/-Food-/-Nightlife-as-one-of-the-categories" data-toc-modified-id="Keep-only-businesses-with-Restaurants-/-Food-/-Nightlife-as-one-of-the-categories-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Keep only businesses with Restaurants / Food / Nightlife as one of the categories</a></span></li><li><span><a href="#Let's-call-it-df_fb-for-food-&amp;-beverage-businesses" data-toc-modified-id="Let's-call-it-df_fb-for-food-&amp;-beverage-businesses-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Let's call it df_fb for food &amp; beverage businesses</a></span></li></ul></li></ul></li><li><span><a href="#Loading-Review-dataset-in-chunks" data-toc-modified-id="Loading-Review-dataset-in-chunks-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading Review dataset in chunks</a></span></li><li><span><a href="#For-each-cuisine-required,-output-the-subset-of-concatenated-reviews" data-toc-modified-id="For-each-cuisine-required,-output-the-subset-of-concatenated-reviews-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>For each cuisine required, output the subset of concatenated reviews</a></span></li><li><span><a href="#Convert-a-dataframe-of-all-cuisine-reveiws-into-a-TfIdf-DTM" data-toc-modified-id="Convert-a-dataframe-of-all-cuisine-reveiws-into-a-TfIdf-DTM-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Convert a dataframe of all cuisine reveiws into a TfIdf DTM</a></span></li></ul></div>

# Read Business dataset

In [1]:
import pandas as pd

review_json_path = '../data/yelp_academic_dataset_review.json'
business_json_path = '../data/yelp_academic_dataset_business.json'
df_b = pd.read_json(business_json_path, lines=True)

In [2]:
df_b.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."

In [3]:
# 1 = open, 0 = closed
df_b = df_b[df_b['is_open']==1]

In [4]:
df_b.size

1725472

In [5]:
to_drop = ['address','state','postal_code','latitude','longitude','hours','is_open','stars']
df_b = df_b.drop(to_drop, axis=1)

In [6]:
df_b.attributes

0         {'RestaurantsTableService': 'True', 'WiFi': 'u...
1         {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...
2         {'BusinessAcceptsCreditCards': 'True', 'Restau...
3         {'RestaurantsPriceRange2': '1', 'BusinessAccep...
4         {'GoodForKids': 'False', 'BusinessParking': '{...
                                ...
160578               {'BusinessAcceptsCreditCards': 'True'}
160579               {'BusinessAcceptsCreditCards': 'True'}
160580                                                 None
160581    {'RestaurantsTakeOut': 'True', 'RestaurantsPri...
160583    {'RestaurantsTakeOut': 'True', 'RestaurantsDel...
Name: attributes, Length: 123248, dtype: object

In [7]:
df_b.categories.isnull().sum()

100

In [8]:
df_b = df_b[df_b.categories.notna()]

In [9]:
df_b['cat_list'] =  df_b.categories.str.split(', ')

In [10]:
df_b['num_categories'] =  df_b.categories.str.split(', ').map(len)

In [11]:
df_b.head(5)

,business_id,name,city,review_count,attributes,categories,cat_list,num_categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","[Gastropubs, Food, Beer Gardens, Restaurants, ...",9
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,Portland,126,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","[Salad, Soup, Sandwiches, Delis, Restaurants, ...",7
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,Portland,13,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","[Antiques, Fashion, Used, Vintage & Consignmen...",7
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,Orange City,8,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons","[Beauty & Spas, Hair Salons]",2
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,Atlanta,14,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","[Gyms, Active Life, Interval Training Gyms, Fi...",4

### There are some businesses with only 1 category, some with 37

In [12]:
df_b['num_categories'].describe()

count    123148.000000
mean          4.490654
std           2.268107
min           1.000000
25%           3.000000
50%           4.000000
75%           6.000000
max          37.000000
Name: num_categories, dtype: float64

In [13]:
df_b.size

985184

### Keep only businesses with Restaurants / Food / Nightlife as one of the categories

In [14]:
df_explode = df_b.assign(categories = df_b.cat_list).explode('categories')

In [15]:
df_explode.head(2)

,business_id,name,city,review_count,attributes,categories,cat_list,num_categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Gastropubs,"[Gastropubs, Food, Beer Gardens, Restaurants, ...",9
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Food,"[Gastropubs, Food, Beer Gardens, Restaurants, ...",9

In [16]:
print("Total number of categories: ", len(df_explode.categories.value_counts()))
print("Top 10 categories:")
df_explode.categories.value_counts()[:10]

Total number of categories:  1316
Top 10 categories:

Restaurants                  32022
Food                         20418
Shopping                     20309
Home Services                14795
Health & Medical             13630
Beauty & Spas                13569
Local Services               10677
Automotive                    8886
Event Planning & Services     7856
Nightlife                     7829
Name: categories, dtype: int64

### Let's call it df_fb for food & beverage businesses

In [17]:
df_fb = df_b[df_b['categories'].str.contains('Restaurants|Nightlife|Food')]

In [19]:
df_fb.head(4)

,business_id,name,city,review_count,attributes,categories,cat_list,num_categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","[Gastropubs, Food, Beer Gardens, Restaurants, ...",9
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,Portland,126,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","[Salad, Soup, Sandwiches, Delis, Restaurants, ...",7
5,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,Vancouver,169,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...","Restaurants, Thai","[Restaurants, Thai]",2
7,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,Columbus,11,None,"Breakfast & Brunch, Restaurants","[Breakfast & Brunch, Restaurants]",2

# Loading Review dataset in chunks

In [20]:
size = 1000000
review = pd.read_json(review_json_path, lines=True,
                      dtype={'review_id':str,'user_id':str,
                             'business_id':str,'stars':int,
                             'date':str,'text':str,'useful':int,
                             'funny':int,'cool':int},
                      chunksize=size)

In [21]:
chunk_list = []
for chunk_review in review:
    
    # drop columns that aren't needed
    chunk_review = chunk_review.drop(['review_id','useful','funny','cool'], axis=1)
    
    # renaming column name to avoid conflict with business overall star rating
    chunk_review = chunk_review.rename(columns={'stars': 'review_stars'})
    
    # keep only 3 star reviews and above
    # https://rpubs.com/Belethia/108750#s2_1 found that only +ve reviews tend to talk about food, ingredients themselves
    # So we keep only these reviews that will be useful for measuring cosine similarity between cuisines
    chunk_review = chunk_review[chunk_review.review_stars >= 3]
    
    # inner merge with edited business file so only reviews related to the business remain
    chunk_merged = pd.merge(df_fb, chunk_review, on='business_id', how='inner')
    
    # feedback on progress
    print(f"{chunk_merged.shape[0]} out of {size:,} related reviews")
    
    chunk_list.append(chunk_merged)
    
# concatenate all relevant data back to one dataframe
df = pd.concat(chunk_list, ignore_index=True, join='outer', axis=0)

458003 out of 1,000,000 related reviews
443723 out of 1,000,000 related reviews
450772 out of 1,000,000 related reviews
450439 out of 1,000,000 related reviews
441251 out of 1,000,000 related reviews
450514 out of 1,000,000 related reviews
450094 out of 1,000,000 related reviews
446095 out of 1,000,000 related reviews
282068 out of 1,000,000 related reviews

In [22]:
len(df)

3872959

In [23]:
df.head(2)

,business_id,name,city,review_count,attributes,categories,cat_list,num_categories,user_id,review_stars,text,date
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","[Gastropubs, Food, Beer Gardens, Restaurants, ...",9,93z0yh-sUpGZS-cSKu6xxA,5,Stopped in on a busy Friday night. Despite the...,2018-03-04 00:59:21
1,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,86,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","[Gastropubs, Food, Beer Gardens, Restaurants, ...",9,rqxTSFFj5fZNmabY1fmTlw,5,This was the place the be on Friday Night! If ...,2018-03-17 14:22:48

# For each cuisine required, output the subset of concatenated reviews

For future use/reference, this might be useful to have the individual file level

In [30]:
search_terms = ["Fast Food", "American", "Sandwich", "Pizza", "Burgers", "American|European", 
"Cake|Bake", "Dessert", "Juice|Drinks|Smoothies|Shakes", "Halal", "Chicken", "Seafood", 
"Vegetarian", "Health", "Chinese", "Thai", "Indian", "Indonesian", "Filipino", "Asian", "Vietnamese", 
"Malay", "Malaysian", "Singaporean", "Portuguese", "Japanese", "Sushi", "Korean", 
"African|South American|European", "Italian", "French", "European", "German", "Mexican", 
"Turkish", "Middle Eastern", "Mediterranean"]

In [31]:
file_names = ["Fast Food", "American", "Sandwiches", "Pizza", "Burgers", "Western", 
"Cake & Bakery", "Desserts", "Non-alcoholic Drinks", "Halal", "Chicken", "Seafood", 
"Vegetarian", "Healthy Food", "Chinese", "Thai", "Indian", "Indonesian", "Filipino", "Asian", "Vietnamese", 
"Malay", "Malaysian", "Singaporean", "Melaka Portuguese", "Japanese", "Sushi", "Korean", 
"International", "Italian", "French", "European", "German", "Mexican", 
"Turkish", "Middle Eastern", "Mediterranean"]

In [36]:
for i in range(37):
    df[df.categories.str.contains(search_terms[i])].text.to_csv(f'data/{file_names[i]}.txt', 
                                                               sep='\n', index=False, header=False)

# Convert a dataframe of all cuisine reveiws into a TfIdf DTM

In [37]:
from collections import defaultdict
from pathlib import Path
import pandas as df

In [38]:
data_path = "data"

input_data = defaultdict(list)

for file in Path(data_path).iterdir():
    with open(file, "r") as file_open:
        input_data["file_name"].append(file.name)
        input_data["text"].append(file_open.read())
        
text_data = pd.DataFrame(input_data)

In [40]:
text_data.head(5)

        file_name                                               text
0    Filipino.txt  We just moved to Oregon from San Diego and we'...
1  Indonesian.txt  "I went here last Sunday (Aug 3rd) and their f...
2      German.txt  "I went there tonight for my second time. I ju...
3    Japanese.txt  """We'll cross that bridge when we get there."...
4   Fast Food.txt  I have always had great food and great service...